<a href="https://colab.research.google.com/github/Python-Is-Long/Teaching/blob/main/Find_unique_element_in_a_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2021-2-25

In [ ]:
my_list = [5,0,1,0,1,2,3,3,5,"a","a","b","b","hello"]

# Solution 1: using Counter
Generalizable

In [ ]:
from collections import Counter
for key,val in dict(Counter(my_list)).items():
  if val == 1:
    print(f"{key} has occurred only once in the list")

2 has occurred only once in the list
hello has occurred only once in the list

# Solution 2: using set and custom counting function
Generalizable

In [ ]:
my_list = [5,0,1,0,1,2,3,3,5]

In [ ]:
def count_occurrence(v, l):
  count = 0
  for x in l:
    if x==v: count+=1
  return count

In [ ]:
count_occurrence(2, my_list)

1

In [ ]:
[val for val in set(my_list) if count_occurrence(val, my_list) == 1]

[2]

# Solution 3: using set and sum
Not generalizable. This assumes:

1) there is only one element with one occurrence

2) each of the rest elements occurs twice

2) all elements are numbers

In [ ]:
my_list = [5,0,1,0,1,2,3,3,5]
set(my_list)

{0, 1, 2, 3, 5}

In [ ]:
sum(my_list) #2X+y

20

In [ ]:
sum(set(my_list)) #X+y

11

2(X+y) - (2X+y) = y

In [ ]:
2*sum(set(my_list))-sum(my_list)

2

# Solution 4: using set and built-in list.count() function
Generalizable and Pythonic âœ”

In [ ]:
my_list = [5,0,1,0,1,2,3,3,5,"a","a","b","b","hello"]
[x for x in set(my_list) if my_list.count(x)==1]

[2, 'hello']