<a href="https://colab.research.google.com/github/Python-Is-Long/Teaching/blob/main/Pandas_regex_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2020-6-14

In [ ]:
import pandas as pd
import numpy as np
import re
from IPython.display import display

#define dataframe
df = pd.DataFrame(
  {
    "col1": ["@__@", np.nan, "www", 0.555],
    "col2": [888, "COVID19", "google", "w3schools"],
    "col3": [np.nan, "float64", "weeeeeeeee", np.nan],
    "col4": ["mmmmmm", "int", "Hello", "(-__-)!!"],
  },
  index=["row1", "row2", "row3", "row4"],
)
df

       col1       col2        col3      col4
row1   @__@        888         NaN    mmmmmm
row2    NaN    COVID19     float64       int
row3    www     google  weeeeeeeee     Hello
row4  0.555  w3schools         NaN  (-__-)!!

In [ ]:
#search with regex
my_filter = df["col2"].str.contains('^COVID')
display(my_filter)
df[my_filter==True]

row1      NaN
row2     True
row3    False
row4    False
Name: col2, dtype: object

     col1     col2     col3 col4
row2  NaN  COVID19  float64  int

In [ ]:
#test a regular expression to see if it works
print(re.search("^[A-z]+$", "weeeeeeeee"))
print(re.search("^[A-z]+$", "w3schools"))

<_sre.SRE_Match object; span=(0, 10), match='weeeeeeeee'>
None

In [ ]:
#use df.apply to create a new column storing the check result of the custom search conditions (this is actually a feature engineering technique used in data analysis and machine learning very often)
df["custom_condition_matched"] = df[["col1", "col2", "col3", "col4"]].apply(lambda row: all([re.search("^[A-z]+$", str(cell)) for cell in row]), axis=1)
df

       col1       col2        col3      col4  custom_condition_matched
row1   @__@        888         NaN    mmmmmm                     False
row2    NaN    COVID19     float64       int                     False
row3    www     google  weeeeeeeee     Hello                      True
row4  0.555  w3schools         NaN  (-__-)!!                     False

In [ ]:
#filter the dataframe using the new column storing the result of custom search
df[df["custom_condition_matched"]==1]

     col1    col2        col3   col4  custom_condition_matched
row3  www  google  weeeeeeeee  Hello                      True