<a href="https://colab.research.google.com/github/Python-Is-Long/Teaching/blob/main/Pandas_multiindex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2020-6-19

In [3]:
import numpy as np
import pandas as pd
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
         np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]
df = pd.DataFrame(np.random.randn(8, 4), index=arrays, columns=["A","B","C","D"])
df

                A         B         C         D
bar one -1.738309  0.370147  0.379156  0.295523
    two -0.015144 -0.228405  0.101533 -0.242296
baz one  1.384521 -0.235825  0.565244  0.610402
    two  0.468480  0.315395 -0.260622 -0.273559
foo one -0.662449  1.383327  0.459684 -0.810199
    two  1.267199  1.429187  0.033428 -0.808687
qux one  0.655844  0.396928  0.487276  0.388873
    two -0.714877 -1.662198 -1.036312 -0.597922

# Indexing and slicing

In [4]:
df.loc[pd.IndexSlice[:, "one"], :]

                A         B         C         D
bar one -1.738309  0.370147  0.379156  0.295523
baz one  1.384521 -0.235825  0.565244  0.610402
foo one -0.662449  1.383327  0.459684 -0.810199
qux one  0.655844  0.396928  0.487276  0.388873

In [5]:
df.loc[slice("bar","foo"), :]

                A         B         C         D
bar one -1.738309  0.370147  0.379156  0.295523
    two -0.015144 -0.228405  0.101533 -0.242296
baz one  1.384521 -0.235825  0.565244  0.610402
    two  0.468480  0.315395 -0.260622 -0.273559
foo one -0.662449  1.383327  0.459684 -0.810199
    two  1.267199  1.429187  0.033428 -0.808687

In [6]:
df.xs(["bar", "one"], axis=0)

A   -1.738309
B    0.370147
C    0.379156
D    0.295523
Name: (bar, one), dtype: float64

In [7]:
df.loc[slice("bar","foo"), ["A","C"]]

                A         C
bar one -1.738309  0.379156
    two -0.015144  0.101533
baz one  1.384521  0.565244
    two  0.468480 -0.260622
foo one -0.662449  0.459684
    two  1.267199  0.033428

# Filtering

In [15]:
df[(df["A"]>0) & (df["C"]>0)]

                A         B         C         D
baz one  1.384521 -0.235825  0.565244  0.610402
foo two  1.267199  1.429187  0.033428 -0.808687
qux one  0.655844  0.396928  0.487276  0.388873

In [18]:
df[(df["A"]>0) & (df["C"]>0)].loc[pd.IndexSlice[:, ["one"]], :]

                A         B         C         D
baz one  1.384521 -0.235825  0.565244  0.610402
qux one  0.655844  0.396928  0.487276  0.388873