<a href="https://colab.research.google.com/github/Python-Is-Long/Teaching/blob/main/Pandas_multiindex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2020-6-19

In [ ]:
import numpy as np
import pandas as pd
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
         np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df

                0         1         2         3
bar one -1.054704  1.114543  0.931603 -0.170913
    two  0.113791 -1.276736 -0.495499 -1.272756
baz one -0.451376  0.938344  0.397290 -1.046409
    two -0.140578 -0.160463  0.597455  1.612180
foo one  0.217352  1.670534  0.627570  0.350163
    two -0.508933  0.577631  0.163347 -0.558216
qux one -0.414368 -0.725476  0.776740  0.019796
    two -0.220006 -0.968436  1.627750 -1.047993

In [ ]:
df.loc[pd.IndexSlice[:, "one"], :]

                0         1         2         3
bar one -1.054704  1.114543  0.931603 -0.170913
baz one -0.451376  0.938344  0.397290 -1.046409
foo one  0.217352  1.670534  0.627570  0.350163
qux one -0.414368 -0.725476  0.776740  0.019796

In [ ]:
df.loc[slice("bar","foo"), :]

                0         1         2         3
bar one -1.054704  1.114543  0.931603 -0.170913
    two  0.113791 -1.276736 -0.495499 -1.272756
baz one -0.451376  0.938344  0.397290 -1.046409
    two -0.140578 -0.160463  0.597455  1.612180
foo one  0.217352  1.670534  0.627570  0.350163
    two -0.508933  0.577631  0.163347 -0.558216

In [ ]:
df.xs(["bar", "one"], axis=0)

0   -1.054704
1    1.114543
2    0.931603
3   -0.170913
Name: (bar, one), dtype: float64