<a href="https://colab.research.google.com/github/Python-Is-Long/Teaching/blob/main/Python_lambda_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2020-6-20

In [ ]:
import pandas as pd
import numpy as np
from IPython.display import display

In [ ]:
my_func = lambda x: x**2
my_func

In [ ]:
my_func(-6)

36

In [ ]:
df = pd.DataFrame(
  {
    "col1": np.arange(100),
    "col2": -np.arange(100),
  },
)
df

    col1  col2
0      0     0
1      1    -1
2      2    -2
3      3    -3
4      4    -4
..   ...   ...
95    95   -95
96    96   -96
97    97   -97
98    98   -98
99    99   -99

[100 rows x 2 columns]

In [ ]:
df["col2_processed"] = df.apply(lambda x: x["col2"]**2, axis=1)
df

    col1  col2  col2_processed
0      0     0               0
1      1    -1               1
2      2    -2               4
3      3    -3               9
4      4    -4              16
..   ...   ...             ...
95    95   -95            9025
96    96   -96            9216
97    97   -97            9409
98    98   -98            9604
99    99   -99            9801

[100 rows x 3 columns]